@page "/Account/Manage"
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Localization

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject IStringLocalizer<Index> Loc

<PageTitle>@Loc["PageTitle"]</PageTitle>

<h3>@Loc["Header"]</h3>
<StatusMessage />

<div class="row">
    <div class="col-xl-6">
        <EditForm Model="Input" FormName="profile" OnValidSubmit="OnValidSubmitAsync" method="post">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="form-floating mb-3">
                <input type="text" value="@username" id="username" class="form-control"
                    placeholder="@Loc["UsernamePlaceholder"]" disabled />
                <label for="username" class="form-label">@Loc["UsernameLabel"]</label>
            </div>
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input!.PhoneNumber" id="Input.PhoneNumber" class="form-control"
                    placeholder="@Loc["PhoneNumberPlaceholder"]" />
                <label for="Input.PhoneNumber" class="form-label">@Loc["PhoneNumberLabel"]</label>
                <ValidationMessage For="() => Input!.PhoneNumber" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputSelect @bind-Value="Input!.PreferredCulture" id="Input.PreferredCulture" class="form-select">
                    <option value="">@Loc["DefaultBrowser"]</option>
                    <option value="en-US">English (US)</option>
                    <option value="de-DE">Deutsch (DE)</option>
                    <option value="ja-JP">日本語 (JP)</option>
                </InputSelect>
                <label for="Input.PreferredCulture" class="form-label">@Loc["PreferredLanguageLabel"]</label>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">@Loc["Save"]</button>
        </EditForm>
    </div>
</div>

@code {
    private ApplicationUser user = default!;
    private string? username;
    private string? phoneNumber;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm] private InputModel? Input { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Input ??= new InputModel();

        user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        username = await UserManager.GetUserNameAsync(user);
        phoneNumber = await UserManager.GetPhoneNumberAsync(user);

        Input.PhoneNumber ??= phoneNumber;
        Input.PreferredCulture ??= user.PreferredCulture;
    }

    private async Task OnValidSubmitAsync()
    {
        if (Input!.PhoneNumber != phoneNumber)
        {
            var setPhoneResult = await UserManager.SetPhoneNumberAsync(user, Input.PhoneNumber);
            if (!setPhoneResult.Succeeded)
            {
                RedirectManager.RedirectToCurrentPageWithStatus(Loc["Status_SetPhoneFailed"], HttpContext);
            }
        }

        if (Input.PreferredCulture != user.PreferredCulture)
        {
            user.PreferredCulture = string.IsNullOrEmpty(Input.PreferredCulture) ? null : Input.PreferredCulture;
            await UserManager.UpdateAsync(user);
        }

        await SignInManager.RefreshSignInAsync(user);
        RedirectManager.RedirectToCurrentPageWithStatus(Loc["Status_ProfileUpdated"], HttpContext);
    }

    private sealed class InputModel
    {
        [Phone]
        [Display(Name = "Phone number")]
        public string? PhoneNumber { get; set; }

        [Display(Name = "Preferred Language")]
        public string? PreferredCulture { get; set; }
    }
}