@page "/Error"
@using System.Diagnostics
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Error> Loc

<PageTitle>@Loc["PageTitle"]</PageTitle>

<h1 class="text-danger">@Loc["Title"]</h1>
<h2 class="text-danger">@((MarkupString)Loc["Message"].Value)</h2>

@if (ShowRequestId)
{
    <p>
        <strong>@Loc["RequestId"]</strong> <code>@RequestId</code>
    </p>
}

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
    RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}