@page "/"
@using MangaIngestWithUpscaling.Services.BackgroundTaskQueue
@using MangaIngestWithUpscaling.Services.BackgroundTaskQueue.Tasks
@using Microsoft.Extensions.Localization
@using MangaIngestWithUpscaling.Shared.Helpers
@using Humanizer
@using System.Globalization

@inject IStringLocalizer<Home> Loc
@inject ITaskQueue TaskQueue
@inject IWebHostEnvironment WebHostEnvironment

<PageTitle>@Loc["Home"]</PageTitle>

<MudGrid>
    <MudItem xs="12">
        <MudText Typo="Typo.h3" GutterBottom="true" Class="mb-6">
            @Loc["WelcomeToMangaIngest"]
        </MudText>
    </MudItem>

    <!-- Quick Start Guide -->
    <MudItem xs="12" md="8">
        <MudPaper Elevation="2" Class="pa-6">
            <MudText Typo="Typo.h4" GutterBottom="true" Color="Color.Primary">
                <MudIcon Icon="@Icons.Material.Filled.Rocket" Class="mr-3" />
                @Loc["QuickStartGuide"]
            </MudText>
            <MudText Typo="Typo.body1" Class="mb-4">
                @Loc["GetStartedMessage"]
            </MudText>

            <MudTimeline TimelinePosition="TimelinePosition.Left">
                <MudTimelineItem Color="Color.Primary" Icon="@Icons.Material.Filled.CreateNewFolder">
                    <MudText Typo="Typo.h6" Class="mb-2">@Loc["SetUpLibrary"]</MudText>
                    <MudText Typo="Typo.body2" Class="mb-2">
                        @string.Format(Loc["SetUpLibraryDesc"], Loc["Libraries"])
                    </MudText>
                </MudTimelineItem>

                <MudTimelineItem Color="Color.Secondary" Icon="@Icons.Material.Filled.Upload">
                    <MudText Typo="Typo.h6" Class="mb-2">@Loc["AddMangaFiles"]</MudText>
                    <MudText Typo="Typo.body2" Class="mb-2">
                        @Loc["AddMangaFilesDesc"]
                    </MudText>
                </MudTimelineItem>

                <MudTimelineItem Color="Color.Success" Icon="@Icons.Material.Filled.AutoAwesome">
                    <MudText Typo="Typo.h6" Class="mb-2">@Loc["AutomaticProcessing"]</MudText>
                    <MudText Typo="Typo.body2" Class="mb-2">
                        @Loc["AutomaticProcessingDesc"]
                    </MudText>
                </MudTimelineItem>

                <MudTimelineItem Color="Color.Tertiary" Icon="@Icons.Material.Filled.ImageAspectRatio">
                    <MudText Typo="Typo.h6" Class="mb-2">@Loc["UpscaleContent"]</MudText>
                    <MudText Typo="Typo.body2">
                        @Loc["UpscaleContentDesc"]
                    </MudText>
                </MudTimelineItem>
            </MudTimeline>
        </MudPaper>
    </MudItem>

    <!-- Quick Actions -->
    <MudItem xs="12" md="4">
        <MudPaper Elevation="2" Class="pa-6">
            <MudText Typo="Typo.h5" GutterBottom="true" Color="Color.Primary">
                <MudIcon Icon="@Icons.Material.Filled.FlashOn" Class="mr-3" />
                @Loc["QuickActions"]
            </MudText>

            <MudStack Spacing="3">
                <MudButton Href="libraries/create" Variant="Variant.Filled" Color="Color.Primary"
                    StartIcon="@Icons.Material.Filled.Add" FullWidth="true" Size="Size.Large">
                    @Loc["CreateLibrary"]
                </MudButton>

                <MudButton Href="upscaling/profiles" Variant="Variant.Outlined" Color="Color.Secondary"
                    StartIcon="@Icons.Material.Filled.ImageAspectRatio" FullWidth="true" Size="Size.Large">
                    @Loc["ManageProfiles"]
                </MudButton>

                <MudButton Href="tasks" Variant="Variant.Text" Color="Color.Tertiary"
                    StartIcon="@Icons.Material.Filled.Task" FullWidth="true" Size="Size.Large">
                    @Loc["ViewTasks"]
                </MudButton>

                <MudText Typo="Typo.caption" Align="Align.Center">
                    @Loc["PendingTask"].Value.ToLocalizedQuantity(TaskQueue.GetStandardSnapshot().Count +
                                        TaskQueue.GetUpscaleSnapshot().Count, CultureInfo.CurrentUICulture)
                </MudText>



                <MudButton Href="logs" Variant="Variant.Text" Color="Color.Default"
                    StartIcon="@Icons.Material.Filled.List" FullWidth="true" Size="Size.Large">
                    @Loc["SystemLogs"]
                </MudButton>
            </MudStack>
        </MudPaper>
    </MudItem>

    <!-- Development Section -->
    @if (WebHostEnvironment.IsDevelopment())
    {
        <MudItem xs="12">
            <MudPaper Elevation="1" Class="pa-4" Style="border-left: 4px solid var(--mud-palette-warning);">
                <MudAlert Severity="Severity.Info" Variant="Variant.Text" Class="mb-4">
                    <MudText Typo="Typo.body2">
                        <strong>Development Mode:</strong> Additional debugging tools are available.
                    </MudText>
                </MudAlert>

                <MudText Typo="Typo.h6" Class="mb-3">Task Queue Test</MudText>
                <MudGrid>
                    <MudItem xs="12" sm="8">
                        <MudTextField @bind-Value="message" Label="Test Message" Variant="Variant.Outlined"
                            FullWidth="true" />
                    </MudItem>
                    <MudItem xs="12" sm="4">
                        <MudButton OnClick="TestTaskQueue" Variant="Variant.Filled" Color="Color.Info"
                            StartIcon="@Icons.Material.Filled.PlayArrow" FullWidth="true">
                            Enqueue Test Task
                        </MudButton>
                    </MudItem>
                </MudGrid>
            </MudPaper>
        </MudItem>
    }

    <!-- Dependencies & Licenses -->
    <MudItem xs="12">
        <MudExpansionPanels Elevation="2">
            <MudExpansionPanel Text="Dependencies & Licenses" Icon="@Icons.Material.Filled.Info">
                <TitleContent>
                    <div class="d-flex align-center">
                        <MudIcon Icon="@Icons.Material.Filled.Info" Class="mr-3" />
                        <MudText Typo="Typo.h6">Dependencies & Licenses</MudText>
                    </div>
                </TitleContent>
                <ChildContent>
                    <MudGrid>
                        <MudItem xs="12" md="6">
                            <MudText Typo="Typo.subtitle1" Class="mb-3" Color="Color.Primary">Core Dependencies
                            </MudText>
                            <MudList T="string" Dense="true">
                                <MudListItem T="string" Icon="@Icons.Material.Filled.AutoAwesome">
                                    <div>
                                        <MudLink Href="https://github.com/the-database/MangaJaNai/blob/main/LICENSE"
                                            Target="_blank" Color="Color.Primary">
                                            MangaJaNai
                                        </MudLink>
                                        <MudText Typo="Typo.body2" Color="Color.Secondary">Attribution-NonCommercial 4.0
                                            International
                                        </MudText>
                                        <MudText Typo="Typo.caption">High-quality manga upscaling model</MudText>
                                    </div>
                                </MudListItem>

                                <MudListItem T="string" Icon="@Icons.Material.Filled.Terminal">
                                    <div>
                                        <MudLink
                                            Href="https://github.com/the-database/MangaJaNaiConverterGui/blob/main/LICENSE"
                                            Target="_blank" Color="Color.Primary">
                                            MangaJaNaiConverterGui
                                        </MudLink>
                                        <MudText Typo="Typo.body2" Color="Color.Secondary">GNU General Public License
                                            v3.0
                                        </MudText>
                                        <MudText Typo="Typo.caption">Upscaling CLI integration</MudText>
                                    </div>
                                </MudListItem>

                                <MudListItem T="string" Icon="@Icons.Material.Filled.Web">
                                    <div>
                                        <MudLink Href="https://github.com/dotnet/aspnetcore/blob/main/LICENSE.txt"
                                            Target="_blank" Color="Color.Primary">
                                            .NET & ASP.NET Core
                                        </MudLink>
                                        <MudText Typo="Typo.body2" Color="Color.Secondary">MIT License</MudText>
                                        <MudText Typo="Typo.caption">Web framework and runtime</MudText>
                                    </div>
                                </MudListItem>

                                <MudListItem T="string" Icon="@Icons.Material.Filled.Palette">
                                    <div>
                                        <MudLink Href="https://github.com/MudBlazor/MudBlazor/blob/dev/LICENSE"
                                            Target="_blank" Color="Color.Primary">
                                            MudBlazor
                                        </MudLink>
                                        <MudText Typo="Typo.body2" Color="Color.Secondary">MIT License</MudText>
                                        <MudText Typo="Typo.caption">Material Design component library</MudText>
                                    </div>
                                </MudListItem>
                            </MudList>
                        </MudItem>

                        <MudItem xs="12" md="6">
                            <MudText Typo="Typo.subtitle1" Class="mb-3" Color="Color.Primary">Supporting Libraries
                            </MudText>
                            <MudList T="string" Dense="true">
                                <MudListItem T="string" Icon="@Icons.Material.Filled.Extension">
                                    <div>
                                        <MudLink
                                            Href="https://github.com/patrickklaeren/AutoRegisterInject/blob/main/LICENSE.txt"
                                            Target="_blank" Color="Color.Primary">
                                            AutoRegisterInject
                                        </MudLink>
                                        <MudText Typo="Typo.body2" Color="Color.Secondary">MIT License</MudText>
                                    </div>
                                </MudListItem>

                                <MudListItem T="string" Icon="@Icons.Material.Filled.Storage">
                                    <div>
                                        <MudLink Href="https://github.com/reactivemarbles/DynamicData/blob/main/LICENSE"
                                            Target="_blank" Color="Color.Primary">
                                            DynamicData
                                        </MudLink>
                                        <MudText Typo="Typo.body2" Color="Color.Secondary">MIT License</MudText>
                                    </div>
                                </MudListItem>

                                <MudListItem T="string" Icon="@Icons.Material.Filled.Api">
                                    <div>
                                        <MudLink Href="https://github.com/grpc/grpc-dotnet/blob/master/LICENSE"
                                            Target="_blank" Color="Color.Primary">
                                            Grpc.AspNetCore
                                        </MudLink>
                                        <MudText Typo="Typo.body2" Color="Color.Secondary">Apache-2.0 License</MudText>
                                    </div>
                                </MudListItem>

                                <MudListItem T="string" Icon="@Icons.Material.Filled.Computer">
                                    <div>
                                        <MudLink Href="https://github.com/mono/mono/blob/main/LICENSE" Target="_blank"
                                            Color="Color.Primary">
                                            Mono.Posix.NETStandard
                                        </MudLink>
                                        <MudText Typo="Typo.body2" Color="Color.Secondary">MIT License</MudText>
                                    </div>
                                </MudListItem>

                                <MudListItem T="string" Icon="@Icons.Material.Filled.Image">
                                    <div>
                                        <MudLink Href="https://github.com/kleisauke/net-vips/blob/master/LICENSE"
                                            Target="_blank" Color="Color.Primary">
                                            NetVips
                                        </MudLink>
                                        <MudText Typo="Typo.body2" Color="Color.Secondary">MIT License</MudText>
                                        <MudText Typo="Typo.caption">.NET bindings for libvips, used for
                                            high-performance image processing and format support.
                                        </MudText>
                                    </div>
                                </MudListItem>

                                <MudListItem T="string" Icon="@Icons.Material.Filled.Image">
                                    <div>
                                        <MudLink Href="https://github.com/libvips/libvips/blob/master/LICENSE"
                                            Target="_blank" Color="Color.Primary">
                                            libvips
                                        </MudLink>
                                        <MudText Typo="Typo.body2" Color="Color.Secondary">LGPL-2.1-or-later</MudText>
                                        <MudText Typo="Typo.caption">Fast image processing library powering the NetVips
                                            backend.
                                        </MudText>
                                    </div>
                                </MudListItem>

                                <MudListItem T="string" Icon="@Icons.Material.Filled.QrCode">
                                    <div>
                                        <MudLink Href="https://github.com/PinguApps/Blazor.QRCode/blob/main/LICENSE"
                                            Target="_blank" Color="Color.Primary">
                                            PinguApps.Blazor.QRCode
                                        </MudLink>
                                        <MudText Typo="Typo.body2" Color="Color.Secondary">MIT License</MudText>
                                    </div>
                                </MudListItem>

                                <MudListItem T="string" Icon="@Icons.Material.Filled.Computer">
                                    <div>
                                        <MudLink Href="https://github.com/dotnet/Silk.NET/blob/main/LICENSE.md"
                                            Target="_blank" Color="Color.Primary">
                                            Silk.NET (OpenGL, Windowing)
                                        </MudLink>
                                        <MudText Typo="Typo.body2" Color="Color.Secondary">MIT License</MudText>
                                    </div>
                                </MudListItem>

                                <MudListItem T="string" Icon="@Icons.Material.Filled.Extension">
                                    <div>
                                        <MudLink
                                            Href="https://github.com/Open-NET-Libraries/Open.ChannelExtensions/blob/master/LICENSE"
                                            Target="_blank" Color="Color.Primary">
                                            Open.ChannelExtensions
                                        </MudLink>
                                        <MudText Typo="Typo.body2" Color="Color.Secondary">MIT License</MudText>
                                    </div>
                                </MudListItem>

                                <MudListItem T="string" Icon="@Icons.Material.Filled.Translate">
                                    <div>
                                        <MudLink Href="https://www.nuget.org/packages/MudBlazor.Translations/"
                                            Target="_blank" Color="Color.Primary">
                                            MudBlazor.Translations
                                        </MudLink>
                                        <MudText Typo="Typo.body2" Color="Color.Secondary">MIT License</MudText>
                                    </div>
                                </MudListItem>

                                <MudListItem T="string" Icon="@Icons.Material.Filled.Api">
                                    <div>
                                        <MudLink Href="https://github.com/dotnet/reactive/blob/main/LICENSE"
                                            Target="_blank" Color="Color.Primary">
                                            System.Interactive.Async (Reactive Extensions)
                                        </MudLink>
                                        <MudText Typo="Typo.body2" Color="Color.Secondary">MIT License</MudText>
                                    </div>
                                </MudListItem>

                                <MudListItem T="string" Icon="@Icons.Material.Filled.Api">
                                    <div>
                                        <MudLink Href="https://github.com/reactiveui/ReactiveUI/blob/main/LICENSE"
                                            Target="_blank" Color="Color.Primary">
                                            ReactiveUI
                                        </MudLink>
                                        <MudText Typo="Typo.body2" Color="Color.Secondary">MIT License</MudText>
                                    </div>
                                </MudListItem>

                                <MudListItem T="string" Icon="@Icons.Material.Filled.Api">
                                    <div>
                                        <MudLink
                                            Href="https://github.com/reactivemarbles/ObservableEvents/blob/main/LICENSE"
                                            Target="_blank" Color="Color.Primary">
                                            ReactiveMarbles.ObservableEvents.SourceGenerator
                                        </MudLink>
                                        <MudText Typo="Typo.body2" Color="Color.Secondary">MIT License</MudText>
                                    </div>
                                </MudListItem>

                                <MudListItem T="string" Icon="@Icons.Material.Filled.Storage">
                                    <div>
                                        <MudLink Href="https://github.com/serilog/serilog/blob/dev/LICENSE"
                                            Target="_blank" Color="Color.Primary">
                                            Serilog
                                        </MudLink>
                                        <MudText Typo="Typo.body2" Color="Color.Secondary">Apache-2.0 License</MudText>
                                    </div>
                                </MudListItem>

                                <MudListItem T="string" Icon="@Icons.Material.Filled.Update">
                                    <div>
                                        <MudLink Href="https://github.com/Velopack/Velopack/blob/master/LICENSE"
                                            Target="_blank" Color="Color.Primary">
                                            Velopack
                                        </MudLink>
                                        <MudText Typo="Typo.body2" Color="Color.Secondary">MIT License</MudText>
                                    </div>
                                </MudListItem>
                            </MudList>
                        </MudItem>
                    </MudGrid>
                </ChildContent>
            </MudExpansionPanel>
        </MudExpansionPanels>
    </MudItem>
</MudGrid>

@code {
    private string message = "Hello, world!";

    private async Task TestTaskQueue()
    {
        await TaskQueue.EnqueueAsync(new LoggingTask { Message = message });
    }
}