@page "/mangas"
@using MangaIngestWithUpscaling.Data.LibraryManagement

@inject ApplicationDbContext DbContext
@inject IDialogService DialogService
@inject NavigationManager NavigationManager

<PageTitle>Browse and Manage Mangas</PageTitle>

<MudTable T="Manga" ServerData="GetMangas"
          Hover="true" MultiSelection="true"
          SelectOnRowClick="false"
          OnRowClick="e => OnRowClicked(e.Item)"
          @bind-SelectedItems="selectedMangas"
          @ref="table">
    <ToolBarContent>
        <MudGrid>
            <MudItem xs="12" sm="6" lg="6">
                <MudText Typo="Typo.h4">Mangas</MudText>
            </MudItem>
            <MudItem xs="12" sm="6" lg="3">
                <MudSelect Label="Library" T="Library?"
                           @bind-Value="selectedLibrary"
                           @bind-Value:after="async () => await table.ReloadServerData()">
                    <MudSelectItem T="Library?" Value="null">All</MudSelectItem>
                    @foreach (var library in DbContext.Libraries)
                    {
                        <MudSelectItem T="Library?" Value="@library">@library.Name</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="12" sm="12" lg="3">
                <MudTextField Label="Search" Placeholder="Search..." Variant="Variant.Outlined"
                              @bind-Value="searchString"
                              @bind-Value:after="async () => await table.ReloadServerData()" />
            </MudItem>
            @if (selectedMangas?.Count > 0)
            {
                <MudItem xs="12">
                    <MudButton Variant="Variant.Filled" Color="Color.Secondary"
                               OnClick="OnDeleteSelected">Delete Selected</MudButton>
                </MudItem>
            }
        </MudGrid>

    </ToolBarContent>
    <HeaderContent>
        <MudTh>
            <MudTableSortLabel T="Manga" SortLabel="library_field">
                Library
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel T="Manga" SortLabel="title_field"
                               InitialDirection="SortDirection.Ascending">
                Title
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel T="Manga" SortLabel="chapters_field"
                               InitialDirection="SortDirection.Descending">
                Chapters
            </MudTableSortLabel>
        </MudTh>
        <MudTh>Should Upscale</MudTh>
        <MudTh>Actions</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.Library.Name</MudTd>
        <MudTd>@context.PrimaryTitle</MudTd>
        <MudTd>@context.Chapters.Count()</MudTd>
        <MudTd>@(context.ShouldUpscale.HasValue ? context.ShouldUpscale.Value : "Use Library settings")</MudTd>
        <MudTd>
            <a href="mangas/@context.Id">
                <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Info" Variant="Variant.Filled" />
            </a>
            <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" Variant="Variant.Filled"
                           OnClick="_ => OnDeleteSpecific(context)" />
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

@code {
    private Library? selectedLibrary;
    private string searchString = "";

    private HashSet<Manga>? selectedMangas;

    private MudTable<Manga> table;

    private async Task<TableData<Manga>> GetMangas(TableState state, CancellationToken cancellationToken)
    {
        var query = DbContext.MangaSeries
            .Include(x => x.Library)
            .Include(x => x.Chapters)
            .AsQueryable();

        if (selectedLibrary != null)
        {
            query = query.Where(x => x.LibraryId == selectedLibrary.Id);
        }

        query = state.SortLabel switch
        {
            "library_field" => query.OrderByDirection(state.SortDirection, x => x.Library.Name),
            "title_field" => query.OrderByDirection(state.SortDirection, x => x.PrimaryTitle),
            "chapters_field" => query.OrderByDirection(state.SortDirection, x => x.Chapters.Count()),
            _ => query
        };

        var totalItems = await query.CountAsync();
        var items = await query.Skip(state.Page * state.PageSize).Take(state.PageSize).ToListAsync();
        return new TableData<Manga> { Items = items, TotalItems = totalItems };
    }

    private async Task OnDeleteSelected()
    {
        var parameters = new DialogParameters<DeleteMangasDialog>
        {
            { x=> x.Mangas, selectedMangas }
        };

        var dialog = await DialogService.ShowAsync<DeleteMangasDialog>("Delete Mangas", parameters);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            await table.ReloadServerData();
        }
    }

    private async Task OnDeleteSpecific(Manga manga)
    {
        var dialog = await DialogService.ShowAsync<DeleteMangasDialog>("Delete Manga", new DialogParameters<DeleteMangasDialog>
        {
            { x=> x.Mangas, new List<Manga> { manga } }
        });
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            await table.ReloadServerData();
        }
    }

    private void OnRowClicked(Manga manga)
    {
        NavigationManager.NavigateTo($"/mangas/{manga.Id}");
    }
}
