@page "/upscaling/profiles"
@using MangaIngestWithUpscaling.Helpers
@using MangaIngestWithUpscaling.Shared.Data.LibraryManagement

@inject ApplicationDbContext DbContext
@inject IDialogService DialogService
@inject IStringLocalizer<UpscalerProfiles> Loc
@inject IStringLocalizer<SharedResource> SharedLoc

<PageTitle>@Loc["PageTitle"]</PageTitle>

<MudText Typo="Typo.h4">@Loc["Title"]</MudText>

<MudPaper Elevation="3" Class="mb-3">
    <MudStack Row>
        <a href="upscaling/profiles/create">
            <MudButton StartIcon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Color="Color.Primary">
                @Loc["Button_Create"]</MudButton>
        </a>
    </MudStack>
</MudPaper>

<MudTable T="UpscalerProfile" Items="@Profiles">
    <HeaderContent>
        <MudTh>@Loc["Header_Name"]</MudTh>
        <MudTh>@Loc["Header_ScalingFactor"]</MudTh>
        <MudTh>@Loc["Header_CompFormat"]</MudTh>
        <MudTh>@Loc["Header_CompQuality"]</MudTh>
        <MudTh>@Loc["Header_Actions"]</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.Name</MudTd>
        <MudTd>@SharedLoc[$"ScaleFactor_{context.ScalingFactor}"]</MudTd>
        <MudTd>@SharedLoc[$"CompressionFormat_{context.CompressionFormat}"]</MudTd>
        <MudTd>@context.Quality</MudTd>
        <MudTd>
            <a href="upscaling/profiles/edit/@context.Id">
                <MudIconButton Icon="@Icons.Material.Filled.Edit" Variant="Variant.Text" Size="Size.Small"
                    title="@Loc["Tooltip_Edit"]" />
            </a>
            <MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Text" Color="Color.Error"
                Size="Size.Small" title="@Loc["Tooltip_Delete"]" OnClick="e => OnDeleteProfile(context)" />
        </MudTd>
    </RowTemplate>
</MudTable>

@code {
    private IReadOnlyCollection<UpscalerProfile> Profiles { get; set; } = new List<UpscalerProfile>();

    protected override async Task OnInitializedAsync()
    {
        Profiles = await DbContext.UpscalerProfiles.ToListAsync();
    }

    private async Task OnDeleteProfile(UpscalerProfile profile)
    {
        var result = await DialogService.ShowMessageBoxAsync(
        Loc["DeleteDialog_Title"],
        Loc["DeleteDialog_Content"],
        Loc["Button_OK"], cancelText: Loc["Button_Cancel"],
        options: new DialogOptions
        {
            CloseButton = true,
            BackdropClick = true,
            CloseOnEscapeKey = true
        });

        if (result.HasValue && result.Value)
        {
            profile.Deleted = true;
            await DbContext.SaveChangesAsync();
        }

        Profiles = await DbContext.UpscalerProfiles.ToListAsync();
    }
}